.navbar {
  /* position: relative; */
  position: absolute;
  z-index: 999;
  height: 100px;
  width: 100%;
  /* top : 200; */
  margin-top: 100px;
  /* background-color: #ccc; */
}

.sticky-nav {
  position: fixed;
  top: -100px;
  left: 0;
}