body{
    background-color: #212121;
}
.container{
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* margin-right: 100px; */
    margin-right: 8%;
    /* border: 2px solid gray; */
    width: 50vh;
    float: right;
    margin-left: 100px;
    margin-top: 3%;
    position: fixed;
    margin-left: 70%;
    

}
.pic1{
    height: 100px;
    width: 100px;
    margin-right: 50px;
}
.container >p:nth-child(2){
    /* color: red; */
    background-color: #616161;
    padding: 5px;
    width: 50px;
    font-size: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.dis{
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;

}
.dis > p{
    margin: 10px;
    color: white;
}
.dis >p:nth-child(1){
    color: black;
    padding: 5px;
    background-color: #FFD600;
    border-radius: 5px;
}
.dis >p:nth-child(2){
    text-decoration: line-through;
    color: #BDBDBD;
}

.sale{
    font-size: 0.5rem;
    margin-right: 80px;
    color: white;
    font-weight: 600;
}

.btn{
    display: flex;
    flex-direction: column;
   
}
.btn > button{
     border: none;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn >button:nth-child(1){
    background-color:#FFD600 ;
}

.btn > button:nth-child(2)  {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 400;

}

.btn > button:nth-child(3){
    background: transparent;

    border: 1px solid white;
       color: white;
    font-weight: 400;

}

.dev1{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}
.dev1 >p:nth-child(1){
    font-size: 0.8rem;
    color: #BDBDBD;
    font-weight: 600;



}
.dev1 >p:nth-child(2){
    /* color: red; */
    color: white;
    margin-left: 40%;
    font-size: 0.8rem;


}

.dev2{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;

}
.dev2>p{
    font-size: 0.8rem;
    color: #BDBDBD;
    font-weight: 600;

}

.dev2 >img{
    height: 10%;
    width: 10%;
    margin-top: 5%;
}
.dev2 >img:nth-child(2){
    margin-left: 45%;

}
.dev2 >img:nth-child(3){
    margin-left: 2%;

}